# API Key
FOOTBALL_API_KEY=your_key

# Kafka
KAFKA_BROKER=broker:29092

# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_CONSUMER_ROLE=LOADER
SNOWFLAKE_DBT_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=WC2026_WH
SNOWFLAKE_DATABASE=WC2026
SNOWFLAKE_RAW_SCHEMA=RAW
SNOWFLAKE_ANALYTICS_SCHEMA=ANALYTICS

# Terraform
TF_VAR_snowflake_organization=your_org_name
TF_VAR_snowflake_account=your_account
TF_VAR_snowflake_user=your_user
TF_VAR_snowflake_password=your_password