# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Grafana
grafana/plugins/